body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #ff9800; /* Tono más naranja */
    padding: 10px 0;
    width: 100%; /* Ocupa todo el ancho de la pantalla */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    height: 80px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black; /* Texto negro para contraste */
    font-weight: bold;
}

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-content {
    position: relative;
    z-index: 1;
    color: #ffffff; /* Texto blanco */
    margin-bottom: 100px;
    
}

.hero-content h1 {
    font-size: 3em; /* Reduce el tamaño del h1 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para destacar el texto */
}


.hero-content p {
    font-size: 2em; /* Mantiene el tamaño del párrafo */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0); /* Sombra para destacar el texto */

}

.services {
    background-color: #ffffff;
    color: #333333;
    text-align: center;
    padding: 50px 20px;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 20px;
}

.image-container {
    position: relative;
    width: 200px; /* Ajusta el tamaño de las imágenes */
    height: 200px; /* Ajusta el tamaño de las imágenes */
    perspective: 1000px;
}

.round-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.6s; /* Añadido para la transición de giro */
    transform-style: preserve-3d; /* Añadido para el efecto de 3D */
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    text-align: center;
    padding: 10px;
    border-radius: 0 0 50% 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
    transition: opacity 0.3s ease, transform 0.6s; /* Añadido para la transición de giro */
    transform: rotateY(180deg); /* Añadido para el efecto de giro */
}
.image-container:hover .round-image {
    transform: rotateY(180deg); /* Añadido para el efecto de giro */
}
.image-container:hover .overlay {
    opacity: 1;
    transform: rotateY(0deg); /* Añadido para el efecto de giro */
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

#mapa {
    flex: 1;
    margin-right: 10px; /* Reduce el margen derecho del mapa */
}

.contact-info {
    flex: 1;
    max-width: 1000px;
    margin-left: 10px; /* Reduce el margen izquierdo de la información de contacto */
}

.profile-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto; /* Centra la imagen */
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

footer {
    background-color: #4caf50; /* Tono verde */
    color: black; /* Texto blanco para contraste */
    border-top: 2px solid #e0e0e0;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer .social-media a {
    margin: 0 10px;
    text-decoration: none;
    color: black; /* Texto blanco para contraste */
}
footer .social-media img{
    width: 30px;
    height: 30px;

}
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    z-index: 1000;
}

.whatsapp img {
    width: 100%;
    height: 100%;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #f9f9f9;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

form button {
    background-color: #ffcc80;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #ffa726;
}

/* Estilos responsivos */
@media (max-width: 1024px) {
    .whatsapp {
        width: 40px; /* Ajusta el tamaño del logo en pantallas pequeñas */
        height: 40px;
        bottom: 10px; /* Ajusta la posición en pantallas pequeñas */
        right: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .hero, .services {
        padding: 20px;
    }

    .contact-container {
        flex-direction: column;
    }

    #mapa {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .contact-info {
        max-width: 100%;
        margin-left: 0; /* Elimina el margen izquierdo en pantallas pequeñas */
    }

    .hero-content h1 {
        font-size: 2em; /* Ajusta el tamaño del h1 en pantallas pequeñas */
    }

    .hero-content p {
        font-size: 1em; /* Ajusta el tamaño del párrafo en pantallas pequeñas */
    }

    .images {
        flex-direction: column;
        gap: 10px;
    }

    .image-container {
        width: 80px; /* Ajusta el tamaño de las imágenes en pantallas pequeñas */
        height: 80px;
    }

    footer {
        position: static; /* Cambia el footer a posición estática en pantallas pequeñas */
        margin-top: 20px; /* Añade un margen superior para separar el contenido */
    }

    .image-container:hover .overlay {
        opacity: 1;
    }
}
